body {
    background: linear-gradient(to right, red, yellow);
    min-height: 100vh;
    background-repeat: repeat;
    margin: 0;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: antiquewhite;
    color: darkblue;
}
.logo {
    height: 48px;
    width: 48px;
    float: right;
}
img {
    width: 100%;
}
.search {
    padding: 14px 16px;
    width: 400px;
}
.searc {
    padding: 14px 16px;
}
.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #46a049;
    color: aliceblue;
    text-align: center;
}
footer {
    background-color: #111;
    margin-top: 10px;
}
.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons {
    display: flex;
    justify-content: center;
}
.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: antiquewhite;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i {
    font-size: 2em;
    color: #000;
    opacity: 0.9;
}
.socialIcons a:hover {
    background-color: #111;
    transition: 0.5ms;
}
.socialIcons a:hover i {
    color: white;
    transition: o.5s;
}
.footerNav {
    margin: 30px 0;
}
.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover {
    opacity: 1;
}
.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p {
    color: white;
}
.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: opx 5px;
}
@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
.header {
    left: 0;
    bottom: 0;
    width: 100%;
    background: #46a049;
    color: aliceblue;
    text-align: center;
}
.dropdown {
    float: left;
    overflow: hidden;
    background: #333;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #333;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
}
.dropdown:hover .dropbtn {
    background: #333;
}
.dropdown-content {
    display: none;
    position: absolute;
    color: white;
    background: #111111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a:hover {
    background: #111111;
    color: red;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.avatar {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: right;
}
.goods {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: auto;
    max-height: 450px;
    margin: 16px;
    margin-top: 50px;
    float: left;
    font-family: Arial;
}
.below {
    color: grey;
    font-size: 20px;
    text-align: center;
}
.goods button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background: #000;
    align-items: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.goods button:hover {
    opacity: 0.7;
}
img {
    width: 327px;
    height: 300px;
    margin-top: 1px;
}
h4 {
    text-align: center;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
